<h2> Demandes en attentes </h2>

<div class="rides-list">
  <div class="container" *ngFor="let ride of rides">
    <a [routerLink]="['/trajet', ride.id_ride]">
      <div class="up">
        <h3>{{ride.date | date :'mediumDate':'+01:00':'fr'}}</h3>
      </div>

      <p *ngIf="(rides === [])" class="not-found">Aucune correspondance trouvée</p>
      <div class="itinary" *ngIf="ride.home_to_office">
        <h3>{{ride.date.substring(11, 16)}} - IPI POE → {{ride.arrival_time?.substring(0, 5)}} - {{ride.city.charAt(0).toUpperCase() + ride.city.slice(1)}}</h3>
      </div>
      <div class="itinary" *ngIf="!ride.home_to_office">
        <h3>{{ride.date.substring(11, 16)}} - {{ride.city.charAt(0).toUpperCase() + ride.city.slice(1)}} → {{ride.arrival_time?.substring(0, 5)}} - IPI POE</h3>
      </div>

      <div class="link">
        <a class="link"> Passer en récurrent</a>
        <a class="link"> Annuler </a>
      </div>
    </a>
  </div>

</div>
