<div class="container">
    <form [formGroup]="form" (submit)="submit()" class="container__form">
        <input type="text" placeholder="Ville" formControlName="city">
        <div class="container__hero__radio">
            <div>
                <input type="radio" formControlName="home_to_office" value="true">
                <label for="aller">Aller</label>
            </div>
            <div>
                <input type="radio" formControlName="home_to_office" value="false">
                <label for="retour">Retour</label>
            </div>
        </div>
        <input type="date" placeholder="Date" formControlName="date">
        <button class="btn btn-secondary">Rechercher</button>
    </form>

    <div class="container__rides">
        <div class="container__rides__box">
            <p *ngIf="(!rides || rides.length === 0) && !loading">Aucune correspondance trouvée</p>
            <p *ngIf="loading">Chargement...</p>
            <a [routerLink]="['/trajet',ride.id_ride]" class="container__rides__box__list" *ngFor="let ride of rides">
                <h3>{{ride.date | date :'fullDate':'+01:00':'fr'}}</h3>
                <div class="info">
                    <div class="info__ride">
                        <div class="point">
                            <div class="point__departure">
                                <div class="point__departure__inside"></div>
                            </div>
                            <div class="point__line"></div>
                            <div class="point__arrival"></div>
                        </div>
                        <div class="info__ride__city" *ngIf="ride.home_to_office">
                            <p class="info__ride__city__departure">{{ride.date.substring(11, 16)}} - {{ride.city}}</p>
                            <p>9h - ipipoe</p>
                        </div>
                        <div class="info__ride__city" *ngIf="!ride.home_to_office">
                            <p class="info__ride__city__departure">9h - ipipoe</p>
                            <p>{{ride.date.substring(11, 16)}} - {{ride.city}}</p>
                        </div>
                    </div>
                    <div class="info__driver">
                        <p>{{ride.driverFirstname}} {{ride.driverLastname}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>




