<div class="container">
  <section class="container__hero">

    <form [formGroup]="form_rides" (submit)="submit()">
      <h2>Ajouter un trajet</h2>
      <input ngx-google-places-autocomplete [options]="addressOptions" (onAddressChange)="handleAddressChange($event)" type="text" placeholder="Rue" formControlName="street" required>
      <p *ngIf="form_rides.get('street')?.errors?.['required']&&form_rides.get('street')?.touched">Veuillez renseigner une rue</p>
      <div class="demi_container">
        <div>
          <input ngx-google-places-autocomplete [options]="codeOptions" type="text" placeholder="Code Postal" formControlName="post_code" required>
          <p *ngIf="form_rides.get('post_code')?.errors?.['required']&&form_rides.get('post_code')?.touched">Veuillez renseigner un code postal</p>
        </div>
        <div>
          <input ngx-google-places-autocomplete [options]="cityOptions" type="text" placeholder="Ville" formControlName="city" required>
          <p *ngIf="form_rides.get('city')?.errors?.['required']&&form_rides.get('city')?.touched">Veuillez renseigner une ville</p>
        </div>
      </div>
      <div class="demi_container">
        <div>
          <input type="datetime-local" placeholder="Date du trajet" formControlName="date" required>
          <p *ngIf="form_rides.get('date')?.errors?.['required']&&form_rides.get('date')?.touched">Veuillez renseigner une date et une heure</p>
        </div>
        <div>
          <input type="time" placeholder="Heure d'arrivée" formControlName="arrival_time" required>
          <p *ngIf="form_rides.get('arrival_time')?.errors?.['required']&&form_rides.get('arrival_time')?.touched">Veuillez renseigner une heure d'arrivée</p>
        </div>
      </div>
      <div class="demi_container">
        <fieldset class="container__hero__radio">
          <div>
            <input type="radio" name="home_to_office" value="true" id="forth" formControlName="home_to_office" required>
            <label for="forth">Aller</label>
          </div>
          <div>
            <input type="radio" name="home_to_office" value="false" id="back" formControlName="home_to_office">
            <label for="back">Retour</label>
          </div>
        </fieldset>
      </div>
      <div class="demi_container">
        <input type="number" placeholder="Nombre de places" formControlName="places" required>
      </div>
      <div class="demi_container">
        <p *ngIf="form_rides.get('places')?.errors?.['required']&&form_rides.get('places')?.touched">Veuillez renseigner un nombre de places</p>
      </div>
      <button class="btn btn-primary">Publier</button>

    </form>
  </section>
</div>
