<!-- <div class="container">
    <form [formGroup]="form" (submit)="submit()" class="container__form">
      <input type="text" placeholder="Nom" formControlName="city">
      <button>Valider</button>
    </form>
</div> -->

<div class="rides-list">
    <div class="container" *ngFor="let ride of rides">
        <h3>{{ride.itinary}}</h3>
        <h4>Départ le {{ride.date.substring(0, 10)}} à {{ride.date.substring(11, 16)}}</h4>
        <p> Nombre de place(s) disponible(s) : {{ride.places}}</p>


    </div>
</div>


