.container {

    & h2 {
        text-align: center;
    }
    & .infos {
        display: flex;
    
        & .left-column {
            display: flex;
            flex-direction: column;
        }

        & .right-column {
            display: flex;
            flex-direction: column;
        }

        & .picture {
            border-radius: 15em;
            width: 15%;
        }
    }
}


