@import "../../../../styles.scss";

.container {

    & h2 {
        text-align: center;
    }
    & .infos {
        margin: 2em;
        padding: 0 5em 0 5em;
        

        & .up {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & .down {
            display: flex;
            justify-content: space-between; 
            align-items: center;     
            color: $secondary-color;  
            padding-right: 1%;

            & a:hover {
                font-weight: bold;
                cursor: pointer;
            }
        }

        & .picture {
            border-radius: 15em;
            width: 15%;
            height: 15%;
        }
    }

    & .next-ride {
        display: flex;
        justify-content: center;

        & .container {
            background-color: $primary-color;
            color: white;
        
            border-radius: 2em;
            width: 60%;
            margin: 2em;
            padding: 1em 4em 2em 4em;

            & a {
                color: white;
            
                & .up {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
        
                    & .pilot {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
        
                        & img {
                            width: 4em;
                            height: 4em;
                            border-radius: 20em;
                            margin-right: 1em;
                        }
                    }
                }
        
                & .down {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
        
                & .cancel {
                    color: $secondary-color;
                }
        
                & .cancel:hover {
                    font-weight: bold;
                    cursor: pointer;
                }
        
            }
        }
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.rounded {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
    }
}
