<div class="container"> 

    <h2>Mes informations</h2>
    
    <div class="infos">
        <div class="left-column">
            <p>{{user.firstname}} {{user.lastname}}</p>
            <p>{{user.email}}</p>
            <a>Modifier mes informations</a>
        </div>

        <div class="right-column">
            <img class="picture" src="../../../assets/img/cutegoldendog-1652637928757-890.jpg">
            <a>Changer l'avatar</a>
        </div>
    </div>

    <h2>Mon prochain trajet</h2>

    <div class="next-ride">
        <div class="container">
            <h3> De {{ride.departure}} à {{ride.arrival}}</h3>
            <h4>Départ le {{ride.date.substring(0, 10)}} à {{ride.date.substring(11, 16)}}</h4>
        </div>
    </div>

 </div>