<header>
  <nav>
    <a routerLink="/"><img src="../../../../assets/img/logo.svg" alt="logo"></a>
    <div *ngIf="!user">
        <a routerLink="trajets">Les trajets</a>
        <a routerLink="connexion">Se connecter</a>
        <a routerLink="inscription">S'inscrire</a>
    </div>

    <div *ngIf="user">
        <a routerLink="trajets">Les trajets</a>
        <a routerLink="nouveau trajet">Nouveau trajet</a>
        <a class="logout" (click)="logout.emit(true)">Se déconnecter</a>
    </div>
  </nav>
</header>
