@import "../../../../styles.scss";

h2 {
    text-align: center;
}

.rides-list {
    text-align: center;
    margin-top: 2em;
    max-height: 90%;
    overflow-y: scroll;

    margin-left: 5vh;
    margin-right: 5vh;

    & .container {
    background-color: $primary-color;
    color: white;

    border-radius: 2em;
    width: 90%;
    margin: 2em;
    padding: 1em 4em 1em 4em;

    & a {
        color: white;

        & .up {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.2em;
        }

        & .itinary {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.2em;
        }

        & .link {

            display: flex;
            justify-content: space-between;
            padding: 0.2em;

            & .link {
                color: $secondary-color;
            }

            & .link:hover {
                cursor: pointer;
                font-weight: bold;
            }
        }
    }

    }
}