<h2> Mes trajets ponctuels </h2>

<div class="rides-list">
  <div class="container" *ngFor="let ride of rides">
    <a [routerLink]="['/trajet', ride.id_ride]">
      <div class="up">
        <h3>{{ride.date.substring(0, 10)}}</h3>
      </div>

      <div class="itinary" *ngIf="ride.home_to_office">
        <h3>{{ride.date.substring(11, 16)}} - IPI POE ➔ ETA - {{ride.city}}</h3>
      </div>

      <div class="itinary" *ngIf="ride.home_to_office">
        <h3>{{ride.date.substring(11, 16)}} - IPI POE ➔ ETA - {{ride.city}}</h3>
      </div>
      <div class="itinary" *ngIf="!ride.home_to_office">
        <h3>{{ride.date.substring(11, 16)}} - {{ride.city}} → ETA - IPI POE</h3>
      </div>

      <div class="link">
        <a class="link"> Passer en récurrent</a>
        <a class="link"> Annuler </a>
      </div>
    </a>
  </div>

</div>
