<footer>
  <section>
    <div>
      <h3>Covoitons</h3>
      <a routerLink="trajets">Rechercher un trajet</a>
      <a *ngIf="user" routerLink="nouveau">Créer un trajet</a>
      <a routerLink="faq">FAQ</a>
    </div>
    <div *ngIf="user">
      <h3>Compte</h3>
      <a href="">Gérer son compte</a>
      <a href="">Mes futurs trajets</a>
    </div>
    <div *ngIf="!user">
      <h3>Compte</h3>
      <a routerLink="connexion">Se connecter</a>
      <a routerLink="inscription">S'inscrire</a>
    </div>
  </section>
  <p class="company">©Orange pixel</p>
</footer>
