
<div class="container">
  <section class="container__hero">
    <form [formGroup]="form" (submit)="submit()">
      <h2>Rechercher un trajet</h2>
      <input type="text" placeholder="Ville" formControlName="city">
      <input type="date" placeholder="Date" formControlName="date">
      <div class="container__hero__radio">
        <div>
          <label for="aller">Aller</label>
          <input type="radio" formControlName="home_to_office" value="true">
        </div>
        <div>
          <label for="retour">Retour</label>
          <input type="radio" formControlName="home_to_office" value="false">
        </div>
      </div>
      <button class="btn btn-primary">Rechercher</button>
    </form>
  </section>
  <section class="container__road">
    <img src="../../../assets/img/road.png" alt="Image de présentation du site">
  </section>
  <section class="container__enterprise">
    <h2>Le mot de l'entreprise</h2>
    <p>Nous voulons mettre à votre disposition un système de covoiturage d'entreprise.<p>

    <p>Pourquoi opter pour un service de covoiturage d'entreprise ? </p>
    <p>Le covoiturage est une solution idéale pour : </p>
    <p>  Faire partie d'une société avec une initiative moderne et écologique, reposant sur des principes collaboratifs et de solidarité </p>
    <p> Pour résumer, le covoiturage c'est économique, écologique, développe l'entraide et les contacts, mais également libère le nombre de places de parking disponibles. </p>
    <p>  Enfin, si vous souhaitez soigner l'image de marque de votre société le covoiturage est une initiative moderne et écologique, reposant sur des principes collaboratifs et de solidarité. </p>

  </section>
  <section class="container__rides">
    <h2>Les derniers trajets</h2>
    <div class="container__rides__cards">
      <app-card-light [ride]="ride" class="container__rides__cards__ride" *ngFor="let ride of rides"></app-card-light>
      <a (click)="ridesReset()" class="container__rides__link">Tout voir</a>
    </div>
  </section>
  <app-footer></app-footer>
</div>

