<div class="container">
   <h2> Foire aux questions </h2>

    <div>
        <p class="question"> Comment puis-je m'inscrire ? </p>

        <p class="answer"> Pour s'inscrire à Covoitons! il suffit de suivre le lien prévu à cet effet, en haut de la barre de navigation. 
            Cette barre est présente sur toutes les pages du site. <br />
            Pour vous inscrire, vous devez être un employé de IPIPOE, puisque votre adresse email ainsi que votre numéro d'employé seront demandés.
        </p>
    </div>

    <div>
        <p class="question">
            Comment puis-je rechercher un trajet ? 
        </p>
        <p class="answer">
            Les trajets ajoutés les plus récemment sont présents en bas de la page d'accueil. 
            Cependant, si vous souhaitez effectuer une recherche précise, vous pouvez suivre le lien <b>Les trajets</b>, 
            accessible depuis la barre de naviguation. 
            <br /> Depuis cette page, vous avez la possiblité de choisir un jour et un horaire de départ. 
            Vous devez également préciser le sens de trajet que vous souhaitez -- à savoir depuis une adresse vers l'entreprise, ou inversement.
        </p>
    </div>

    <div>
        <p class="question">
            Comment puis-je réserver un trajet ? 
        </p>
        <p class="answer">  
            Depuis un trajet précis, cliquez simplement sur <b>Réserver le trajet</b>. Une notification sera envoyé au conducteur, qui pourra ensuite
            valider ou refuser votre demande. 
        </p>
    </div>

    <div>
        <p class="question">
            Jusqu'à combien de temps puis-je réserver un trajet ?
        </p>
        <p class="answer">
            Vous pouvez réserver votre trajet jusqu'au dernier moment. Toutefois, nous vous conseillons de réserver le plus tôt possible, afin de vous assurer 
            une place dans le covoiturage de votre choix. Pensez également au conducteur qui devra peut être également s'organiser en fonction. 
        </p>
    </div>

    <div>
        <p class="question">
            Je peux également proposer mes propres trajets ? 
        </p>
        <p class="answer">
            Bien sûr ! Pour cela, rien de plus simple. Il vous faudra simplement avoir un compte et être connecter. L'onglet <b>Proposer un trajet</b>
            vous mènera à une nouvelle page, pourvue d'un formulaire. Remplissez les champs, validez, et voilà, votre projet est crée. 
        </p>
    </div>

    <div>
        <p class="question">
            Comment puis-je voir les demandes de réservation sur mes trajets ?
        </p>
        <p class="answer">  
            En tant que conducteur, vous pouvez consulter tous les trajets que vous proposez dans votre <b>compte</b>. En cliquant sur un trajet précis, 
            vous aurez accès à toutes les réservations. Vous pouvez ainsi valider ou refuser chaque passager. 
            Dès qu'un utilisateur fait une demande de réservation, vous êtes averti par mail. 
        </p>
    </div>

    <div>
        <p class="question">
            Puis-je contacter les autres utilisateurs ?
        </p>
        <p class="answer">
            Vous pouvez, depuis les fiches de trajet, contacter les conducteurs associés. N'hésitez pas à vous arranger par message sur l'horaire 
            ou le lieu de rendez-vous !    
        </p>
    </div>

    <div>
        <p class="question">
            Où puis-je voir mes informations ?
        </p>
        <p class="answer">
            Toutes vos informations sont accessibles dans <b>Mon compte</b>. Vous pouvez également voir les trajets auxquels vous
            êtes inscrit et ceux que vous avez proposé. 
            En outre, vous avez la possiblité de changer votre image de profil et votre mot de passe.   
        </p>
    </div>

    <div>
        <p class="question"> 
            Combien ça coûte ? 
        </p>
        <p class="answer"> Très bonne nouvelle : l'application est totalement gratuite ! <br />
            Cependant, n'hésitez pas à payer un café aux gentils dévéloppeurs qui ont travaillé sur ce projet.
        </p>
    </div>
</div>