@import "src/styles";

.container {
  background-image: url("../../../assets/img/ride.png");
  //background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

    .child {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 30em;
      width: 50em;
      //background-color: rgba(229, 229, 229, 0.70);
      background-color: rgba(215, 229, 238, 0.9);
      border-radius: 2em;
      padding:5em;

      .title {
        font-size: 2.4em;
        color: rgb(0, 0, 0);
        margin-bottom: 1.75em;

        span {
          font-weight: bold;
          color: black;
        }
      }

      span {
        font-weight: bold;
        color: $four-color;
        margin-left: 2em;
      }

      p {
        font-size: 1.5em;
        margin-bottom: 1em;
      }

      .custom-btn {
        display: flex;
        justify-content: space-around;
        margin-top: 1.75em;

        /*
        button {
          border-radius: 1em;
          border-style: none;
          cursor:pointer;
          background-color: $four-color;
          color: rgb(255, 255, 255);
          height: 2.3em;
          width: 9em;
          font-weight: bold;
          font-size: 1.25em;
        } */
      }
    }
  }

