<div class="container">
    <div class="left-panel">
        <div class="profile">
            <div *ngIf="retrievedImage" class="rounded"><img [src]="retrievedImage"></div>
            <img *ngIf="!retrievedImage"class="picture" src="../../../assets/img/cutegoldendog-1652637928757-890.jpg">
            <p>{{user.firstname}} {{user.lastname}}</p>
        </div>

        <a class="general" (click)="seeInfos()">Mes informations</a>
        <a class="general">Mes trajets</a>

        <div class="routes">
            <a (click)="seeBookedRides()"> <span class="tab"> </span> Mes trajets réservés</a>
            <a (click)="seeProposedRides()"> <span class="tab"> </span> Mes trajets proposés</a>
        </div>
    </div>

    <div class="right-panel" *ngIf="infos">
        <app-user-infos [user]="user"></app-user-infos>
    </div>

    <div class="right-panel" *ngIf="bookedRides">
        <app-user-booked-ride [user]="user"></app-user-booked-ride>
    </div>

    <div class="right-panel" *ngIf="proposedRides">
        <app-user-proposed-ride [user]="user"></app-user-proposed-ride>
    </div>
 </div>